.header.fa-heading
  = render "shared/header"
  .container
    .row
      .col-lg-4.col-lg-offset-4
        .panel.panel-default
          .panel-heading
            %h4 Reenviar email de confirmação
          .panel-body.fa-login
            = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
              = f.input :email, autofocus: true
              = f.button :submit, "Reenviar Email", class: "btn btn-block btn-primary"

            = render "devise/shared/links"
