- title "Detalhes do Estoque"
- apagar_path inventory_path(@inventory)
= content_for :symbol do
  %i.fa.fa-fw.fa-bank
- heading @inventory.item || "???"
%p
  %b Descrição
%p= @inventory.description || "vazia"
%p
  %b Quantidade
%p= @inventory.total || "vazia"
%p
  %b Total
%p= @inventory.balance || "vazia"
%p
  %b Média Ponderada Móvel
%p= @inventory.mpms.last || "vazia"

%hr
  %h4 Entradas
  %hr
  %p= render "entries", object: @inventory.entries
