= form_for @other do |f|
  - if @other.errors.any?
    #error_explanation
      %h2= "#{pluralize(@other.errors.count, "error")} prohibited this other from being saved:"
      %ul
        - @other.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :reason
    = f.text_field :reason
  .actions
    = f.submit 'Save'
