%h1 Listing entries

%table
  %thead
    %tr
      %th Date
      %th Inventory
      %th Amount
      %th Cost
      %th Type
      %th
      %th
      %th

  %tbody
    - @entries.each do |entry|
      %tr
        %td= entry.date
        %td= entry.inventory
        %td= entry.amount
        %td= entry.cost
        %td= entry.type
        %td= link_to 'Show', entry
        %td= link_to 'Edit', edit_entry_path(entry)
        %td= link_to 'Destroy', entry, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Entry', new_entry_path
