= simple_form_for @partner do |f|
  %p
    = f.error_notification
  .container
    .row
      .col-md-4
        %p
          %h3 Dados do Contato
        %hr
        = f.input :name, autofocus: true
        = f.input :contact
        %hr
        = f.button :submit, class: 'btn-primary'
