#page-wrapper
  = render partial: "shared/page_header", locals: { title: "Detalhes do Contato", icon: "user" }
  .row
    .col-lg-6
      .panel.panel-default
        .panel-heading= "Dados sobre #{@partner.name}"
        .panel-body
          %p
            %b Nome:
            = @partner.name
          %p
            %b Contato:
            = @partner.contact
        .panel-footer
          = link_to 'Editar', edit_partner_path(@partner)
          = link_to 'Voltar', deals_path
