.navbar-default.sidebar{role: "navigation"}
  .sidebar-nav.navbar-collapse
    %ul#side-menu.nav
      %li
        %a{href: "#"}
          %i.fa.fa-leaf
            %span.fa-title Fazenda
        %ul.nav.nav-second-level
          = fa_menu_item(farm_path(current_farm), "Status", "bar-chart-o")
          = fa_menu_item(livrodiario_path, "Livro Diário", "book")
      %li
        %a{href: "#"}
          %i.fa.fa-dollar
            %span.fa-title Negócios
        %ul.nav.nav-second-level
          = fa_menu_item(new_fact_path, "Cadastrar Fato Contábil", "plus")
      %li
        %a{href: "#"}
          %i.fa.fa-user
            %span.fa-title Contatos
        %ul.nav.nav-second-level
          = fa_menu_item(new_partner_path, "Cadastrar Contato", "plus")
          = fa_menu_item(partners_path, "Listar Contatos", "list")
