.navbar-default.sidebar{role: "navigation"}
  .sidebar-nav
    %ul.nav
      %li
        %a{href: "#"}
          %i.fa.fa-leaf
            %span.fa-title Fazenda
        %ul.nav.nav-second-level
          = fa_menu_item(farm_path(current_user.farm), "Status", "bar-chart-o")
          = fa_menu_item(livrodiario_path, "Livro Diário", "book")
          = fa_menu_item(accounts_path, "Livro Razão", "calculator")
      %li
        %a{href: "#"}
          %i.fa.fa-plus
            %span.fa-title Cadastros
        %ul.nav.nav-second-level
          = fa_menu_item(new_account_path, "Conta", "calculator")
          = fa_menu_item(new_partner_path, "Contato", "users")
          = fa_menu_item(new_inventory_path, "Estoque", "list-alt")
          = fa_menu_item(new_fact_path, "Fato Contábil", "book")
          %ul.nav.nav-third-level
            = fa_menu_item(new_sale_path, "Venda", "arrow-up")
            = fa_menu_item(new_buy_path, "Compra", "arrow-down")
      %li
        %a{href: "#"}
          %i.fa.fa-search
            %span.fa-title Consultas
        %ul.nav.nav-second-level
          = fa_menu_item(accounts_path, "Contas", "calculator")
          = fa_menu_item(partners_path, "Contatos", "users")
          = fa_menu_item(inventories_path, "Estoques", "list-alt")
          = fa_menu_item(livrodiario_path, "Fatos Contábeis", "book")
