- if user_signed_in?
  .navbar-default.sidebar{role: "navigation"}
    .sidebar-nav.navbar-collapse
      %ul#side-menu.nav
        %li
          %a{href: "#"}
            %i.fa.fa-leaf
              %span.fa-title Fazenda
          %ul.nav.nav-second-level
            = fa_menu_item(reports_path, "Status", "bar-chart-o")
        %li
          %a{href: "#"}
            %i.fa.fa-money
              %span.fa-title Negócios
          %ul.nav.nav-second-level
            = fa_menu_item(new_deal_path, "Cadastrar Negócio", "plus")
            = fa_menu_item(deals_path, "Listar Negócios", "list")
        %li
          %a{href: "#"}
            %i.fa.fa-user
              %span.fa-title Contatos
          %ul.nav.nav-second-level
            = fa_menu_item(new_partner_path, "Cadastrar Contato", "plus")
            = fa_menu_item(partners_path, "Listar Contatos", "list")
