= simple_form_for(@fact) do |f|
  = f.error_notification
  .form-inputs
    = f.input :date
    = f.input :description
    %h3 Moves
    #moves
      = f.simple_fields_for :moves do |move|
        = render 'move_fields', f: move
      .links
        = link_to_add_association 'Adicionar Movimentação', f, :moves
  .form-actions
    = f.button :submit
