#page-wrapper
  = fa_page_header("Listagem de Negócios", "money", @partner_name)
  = fa_page_alert(notice)
  - if @buys.empty? and @sales.empty?
    = fa_no_resource("Negócio")
  .row
    .col-lg-12
      - if @buys.any?
        .panel.panel-red
          .panel-heading
            %i.fa.fa-arrow-up
            Compras
          .panel-body
            .dataTable_wrapper
              %table.table.text-center.table-stripped.table-bordered.table-hover#dataTables-buys
                %thead
                  %tr
                    %th Data
                    %th Preço
                    %th Cabeças
                    %th Peso(Média)
                    %th Finalidade
                    %th Contato
                    %th Ações

                %tbody
                  - @buys.each do |deal|
                    %tr
                      %td= deal.date
                      %td= deal.price
                      %td= deal.males
                      %td= deal.females
                      %td= deal.live_weight
                      %td= deal.reason
                      %td= deal.partner || "Não informado"
                      %td
                        =link_to 'Detalhes', deal
                        =link_to 'Editar', edit_deal_path(deal)
                        =link_to 'Apagar', deal, :method => :delete, :data => { :confirm => 'Tem certeza que deseja apagar?' }
  .row
    .col-lg-12
      - if @sales.any?
        .panel.panel-primary
          .panel-heading Vendas
          .panel-body
            .dataTable_wrapper
              %table.table.table-stripped.table-bordered.table-hover#dataTables-sales
                %thead
                  %tr
                    %th Data
                    %th Preço
                    %th Número de Machos
                    %th Número de Fêmeas
                    %th Peso Vivo
                    %th Peso Morto
                    %th Finalidade
                    %th Contato
                    %th Ações

                %tbody
                  - @sales.each do |deal|
                    %tr
                      %td= deal.date
                      %td= deal.price
                      %td= deal.males
                      %td= deal.females
                      %td= deal.live_weight
                      %td= deal.dead_weight
                      %td= deal.reason
                      %td= deal.partner || "Não informado"
                      %td
                        =link_to 'Detalhes', deal
                        =link_to 'Editar', edit_deal_path(deal)
                        =link_to 'Apagar', deal, :method => :delete, :data => { :confirm => 'Tem certeza que deseja apagar?' }
