#page-wrapper
  = fa_page_header("Listagem de Negócios", "money", @partner_name)
  = fa_page_alert(notice)
  - if @buys.empty? and @sales.empty?
    = fa_no_resource("Negócio")
  .row
    .col-lg-12
      - if @buys.any?
        .panel.panel-red
          .panel-heading
            %i.fa.fa-arrow-up
            Compras
          .panel-body
            .dataTable_wrapper
              %table.table.text-center.table-stripped.table-bordered.table-hover#dataTables-buys
                %thead
                  %tr
                    %th Data
                    %th Preço
                    %th Cabeças
                    %th Peso(Média)
                    %th Contato
                    %th Ações

                %tbody
                  - @buys.each do |deal|
                    %tr
                      %td= deal.date
                      %td= deal.price
                      %td= deal.total
                      %td= deal.live_weight
                      %td= deal.partner || "Não informado"
                      %td
                        = fa_show_button deal_path(deal)
                        = fa_edit_button edit_deal_path(deal)
                        = fa_delete_button deal_path deal
  .row
    .col-lg-12
      - if @sales.any?
        .panel.panel-primary
          .panel-heading
            %i.fa.fa-arrow-down
            Vendas
          .panel-body
            .dataTable_wrapper
              %table.table.text-center.table-stripped.table-bordered.table-hover#dataTables-sales
                %thead
                  %tr
                    %th Data
                    %th Preço
                    %th Cabeças
                    %th Peso Vivo(Média)
                    %th Peso Morto(Média)
                    %th Contato
                    %th Ações

                %tbody
                  - @sales.each do |deal|
                    %tr
                      %td= deal.date
                      %td= deal.price
                      %td= deal.total
                      %td= deal.live_weight
                      %td= deal.dead_weight
                      %td= deal.partner || "Não informado"
                      %td
                        = fa_show_button deal_path deal
                        = fa_edit_button edit_deal_path(deal)
                        = fa_delete_button deal_path deal
