#page-wrapper
  = render partial: "shared/page_header", locals: { title: "Detalhes do Negócio", icon: "money" }
  .row
    .col-lg-6
      .panel.panel-default
        .panel-heading= "Dados da #{@deal.deal_type}"
        .panel-body
          %p
            %b Data:
            = @deal.date
          %p
            %b Preço por Kilo:
            = @deal.amount
          %p
            %b Número de Machos:
            = @deal.males
          %p
            %b Número de Fêmeas:
            = @deal.females
          %p
            %b Peso Vivo:
            = @deal.live_weight
          %p
            %b Peso Morto:
            = @deal.dead_weight
          %p
            %b Finalidade:
            = @deal.reason
          %p
            %b Contato:
            = @deal.partner || "Não informado"
        .panel-footer
          = link_to 'Editar', edit_deal_path(@deal)
          = link_to 'Voltar', deals_path
