.panel.panel-default
  .panel-heading
    %h4 Área Restrita
  .panel-body
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.input :email, autofocus: true
      = f.input :password, autocomplete: "off"
      = f.input :remember_me, as: :boolean
      = f.button :submit, "Entrar", class: 'btn-block btn-success'
    = render "devise/shared/links"
