= simple_form_for(@buy) do |f|
  %p
    =f.error_notification
  .container-fluid
    .row
      .col-md-4
        %p
          %h3 Dados do Fato
        %hr
        = f.input :date, as: :date, autofocus: true
        = f.input :evidence
        = f.input :description
        = f.association :partner, collection: Partner.sorted
        = f.simple_fields_for :entry do |entry|
          = entry.association :inventory
          = entry.input :amount
        = f.simple_fields_for :move do |move|
          = move.input :amount, as: :currency
        %hr
        = f.button :submit, class: 'btn-primary'
