<!DOCTYPE html>
%html
  = render "shared/head"
  %body
    #wrapper
      = render "shared/navigation"
      #page-wrapper
        = render "shared/title"
        = render "form"
      = render "shared/footer"
