<!DOCTYPE html>
%html
  = render "shared/head"
  %body
    #wrapper
      = render "shared/navigation"
      #page-wrapper
        = render "shared/title"
        .row
          .col-md-12
            %h2= yield :heading
            %ul.list-inline
              %i.fa.fa-list.fa-fc
              %li= link_to "Outros", url_for(action: :index), class: ""
              %i.fa.fa-edit.fa-fc
              %li= link_to "Editar", url_for(action: :edit), class: ""
              %i.fa.fa-trash
              %li= yield :apagar_path
            %hr
            = yield


      = render "shared/footer"
