= simple_form_for(@account.becomes(Account)) do |f|
  %p= f.error_notification
  .container
    .row
      .col-md-4
        %h3 Dados da Conta
        %hr
        = f.input :name, autofocus: true
        = f.input :type, collection: [ Debtor.model_name.human, Creditor.model_name.human ]
        = f.input :start
        %hr
        = f.button :submit, class: "btn-primary"
