= simple_form_for(@account.becomes(Account)) do |f|
  %p= f.error_notification
  .container
    .row
      .col-md-4
        %h3 Dados da Conta
        %hr
        = f.input :name, autofocus: true
        = f.input :type, collection: Account.descendants,
        label_method: -> (c) { c.model_name.human },
        value_method: :name, as: :radio_buttons
        = f.association :parent, collection: Account.parentables
        = f.input :description
        %hr
        = f.button :submit, class: "btn-primary"
