- present(@account, presenter_klass=AccountPresenter) do |account|
  - title "Detalhes da Conta"
  - delete_path account_path(@account)
  = content_for :symbol do
    %i.fa.fa-fw.fa-book
  - heading account.name
  %p
    %b Conta pai:
    = account.parent
  %p
    %b Natureza:
    = account.model_name.human
  %p
    %b Descrição:
    = account.description
  %p
    %b Saldo:
    = account.balance
  %hr
  .container-fluid
    .row
      .col-md-6
        %h3 Créditos Nesta Conta
        %p= render "credits"
      .col-md-6
        %h3 Débitos Nesta Conta
        %p= render "debits"
